@charset "utf-8";

li{
  list-style: none; 
  width: 50px; 
  height: 100px; 
  margin-left: 10px; 
  border: 3px solid #eee; 
  float: left;
}
.front{
  z-index:2; 
  transform: rotateY(0deg);
}
.back {
  transform: rotateY(180deg);
}
.flip_wrap { 
  transition: 0.6s; 
  transform-style: preserve-3d; 
  position: relative; 
  cursor: pointer;
}
.front, .back{ 
  position: absolute; 
  backface-visibility:hidden; 
  width: 50px; 
  height: 100px; 
  background-size: cover;
}
.msg, .clck_cnt, .time{
  display: none;
}