@charset "utf-8";

@import url('/css/reset.css') screen;
@import url('/css/font.css') screen;

/* 메인 스타일 CSS */

/*	
	font-family: 'Assistant'; 
	font-weight: 200(normal),bold, 800(Extra-bold); 
*/
/*
	메인 색			  : 하늘 - #96c3e2;
	폰트 색		    : 블랙 - #221815;
	포인트 색 		: 레드 - #e94340;
	이미지 배경색 : 그레이 - #efefef;
*/
html{
  width: 100%; 
  height: 100%;
}
*{
  text-decoration: none; 
  font-family: 'Assistant'; 
  text-align: center; 
  color: #221815;
}
a {
  color: #221815; 
}
a:hover{
  cursor: url(img/cursor.png), auto; 
}
.Title{
  font-size: 80px; 
  font-weight: bold;
  letter-spacing: -5px; 
  text-transform: uppercase; 
  text-align: left;
}
.Text{
  line-height: 1.4; 
  font-size: 14px; 
  text-align: left;
}
.imgBox img, 
.product img {
  position: absolute;
  top: 50px; 
  left: 20px; 
}

/*** 헤더 ***/
/*로고*/
.logo {
  width: 100px; 
  height: 100px; 
  position: fixed;
  top:20px; 
  left:26px; 
  z-index: 9999;
}
.logo:hover {
  animation: ani_logo 0.5s infinite ease;
}
@keyframes ani_logo {
  from {top: 5px; left:26px;}
  to{top: 25px; left:26px;}
}

/*cart*/
.blueBg {
  width:140px; 
  height:40px; 
  line-height: 40px; 
  background: #96c3e2; 
  position: fixed; 
  top: 20px; 
  right: 20px;
  z-index: 999;
}
.blackBg{
  position: absolute;
  bottom: 0; 
  left: 0; 
  right: 0; 
  background: #000; 
  overflow: hidden; 
  width: 140px; 
  height: 0; 
  transition: .5s ease; 
  z-index: 9999;
}
.text{ 
  color: #000; 
  font-size : 18px; 
  text-transform: uppercase; 
  font-weight: bold; 
  transition: 0.3s; 
  letter-spacing: 2px; 
  font-family: 'Assistant'; 
  font-weight: bold;
}

.cart:hover .blackBg{
  height: 100%;
}
.cart:hover .text{
  color: #96c3e2;
  z-index: 9999; 
  position: absolute;
  bottom: 0; 
  left: 0; 
  right: 0;
}

/*menu*/
.menuBlackBg {
  width: 96px; 
  height: 42px; 
  background: #000; 
  line-height: 42px; 
  transform: rotate(-90deg); 
  transform-origin: 0;
  position: fixed;
  top: 0; 
  bottom: 0; 
  left:26px; 
  margin: auto 26px;
  z-index: 999;
}
.menuBlueBg{
  position: absolute;
  bottom: 0; 
  left: 0; 
  right: 0; 
  background: #96c3e2; 
  overflow: hidden; 
  width: 96px; 
  height: 0; 
  transition: .5s ease; 
  z-index: 9999;
}
.menuText {
  color: #96c3e2; 
  font-weight: bold;
}
.menu:hover .menuBlueBg{
  height: 100%;
}
.menu:hover .menuText{
  color: #000; 
  z-index: 9999;
  position: absolute;
  bottom: 0; 
  left: 0; 
  right: 0;
}
/*mark*/
.mark{
  position: fixed;
  bottom: 20px;
  left: 26px; 
  text-align: left;
}
.markText{
  color: #000; 
  line-height: 1.5; 
  font-size: 14px; 
  font-weight: 200;
}
.mark:hover {
  text-decoration: underline;
}
/*sns(facebook, instagram)*/
.facebook, 
.instagram {
  font-size: 30px; 
  font-weight: bold; 
  z-index: 999; 
}
.facebook {
  position: fixed; 
  bottom: 70px; 
  right: 50px; 
}
.instagram {
  position: fixed; 
  bottom: 20px; 
  right: 50px; 
}
i{
  transition: .3s;
}
.facebookLi:hover i {
  transform: rotate(-30deg); 
}
.instagramLi:hover i {
  transform: rotate(-30deg); 
}
/*** sec 1 ***/
.sec1 {
  width: 100%; 
  height:1250px; 
  position: relative; 
}
video{
  width: 1400px; 
  height: auto; 
  padding: 100px 0; 
  margin: 0 auto; 
  position: absolute; 
  left: 0; 
  right: 0; 
  transition: .2s;
}
/***sec 2***/
.sec2{
  width: 72.1875%; 
  height: auto; 
  margin: 0 auto 300px auto; 
  overflow: hidden; 
  position: relative;
}
.sec2 > div{
  width: 50%; 
  float: left; 
}
.paragraph {
  box-sizing: border-box; 
  position: absolute; 
  top: 290px;
}
.paragraph p{
  text-align: left;
}
.sec2Text1{
  font-weight: bold;
  padding: 25px 0 15px;
}
div.imgBox {
  width:576px; 
  height:872px; 
  overflow: hidden; 
  background: #efefef; 
  position: relative; 
  margin-left: 50%;
}
.imgBox img {
  animation: ani_img 40s infinite; 
  transform: scale(1);
}
@keyframes ani_img {
  from {transform: scale(1);}
  50% {transform: scale(1.2);}
  to{ transform: scale(1); }
}


/***sec 3***/
.sec3{
  width: 100%; 
  height: 800px; 
  background: url(img/bg1.png) no-repeat; 
  padding-top: 410px; 
  position: relative; 
  z-index: -9;
}
.sec3 p{
  color: #fff;
}
.sec3Wrap {
  position: absolute;
  top:500px; 
  left: 0; 
  right: 0; 
  margin: 0 auto; 
  width: 1200px;
}
.redLine { 
  background: #e94340; 
  width:0px; 
  height:10px; 
  text-indent: -9999px; 
  margin: 0 auto; 
  position: absolute; 
  top: 615px; 
  left: 0; 
  right: 0; 
  margin: 0 auto;
}
.sec3Subtitle{
  font-size: 30px; 
  font-weight: bold; 
  padding-bottom: 110px;
}
.sec3Title{
  font-size: 125px; 
  font-weight: bold;
}


/***sec 4***/
.sec4{
  width: 100%; 
  height: 687px; 
  position: relative; 
}
.sec4Wrap{
  width: 72.1875%; 
  margin: 0 auto; 
  padding-top: 300px;
}
.sec4Wrap > div.imgBox{
  margin-left: 0; 
  margin-right: 50%;
}
.sec4p { 
  position: absolute;
  top: 570px; 
  right: 252px; 
}


/***sec 5***/
.sec5{
  width:100%; 
  height: 2800px; 
  background: url(img/bg2.png) no-repeat; 
}
.sec5Wrap{
  width: 100%; 
  height :3500px; 
  margin: 0 auto; 
  overflow: hidden;
}
.sec5Title{
  padding-top: 817px; 
  padding-left: 288px; 
}
.sec5FigG{
  padding-top: 20px; 
  height: 723px;  
  width:4785px; 
}
figure{
  width: 500px; 
  height: 723px; 
  position: relative; 
  float: left; 
  padding-left: 1095px; 
}
.memFig {
  width: 480px; 
  height: 703px; 
  border : 10px solid #e94340; 
  box-sizing: content-box; 
  overflow: hidden; 
  position: relative;
}
.memFig img:nth-child(1) {
  transform: scale(1) ;
  transition: 1s; 
  position: absolute;
  bottom: 0px; 
  left: 0px; 
  z-index: 2;
}
.memFig img:nth-child(2) {
  transition: 1s; 
  position: absolute;
  bottom: 0;  
  left:0; 
  z-index: 1;
}
.memFig:hover img:nth-child(1) {
  opacity: 0;
}
.memFig:hover img:nth-child(2) {
  transform: scale(1.05);
}
.sec5figcap {
  font-size: 42px; 
  font-weight: bold; 
  text-align: right; 
  position: absolute; 
  top: 50px; 
  right: 430px;
}
.sec5figcap span{
  font-size: 26px; 
  font-weight: normal;
}
/***sec6***/
.sec6 {
  width: 100%; 
  height: 3313px; 
  background: url(img/bg3.png) no-repeat; 
  position: relative; 
  z-index: -9;
}
.sec6Logo {
  padding: 120px 0 0 800px; 
  transform: rotate(0deg); 
  transform-origin: 0;
}
.sec6Wrap {
  width: 72.1875%;  
  margin: 0 auto; 
  padding-top: 340px; 
  z-index: 0; 
}
.line {
  width: 95%; 
  margin: 0 auto;
  background: salmon;
}
.product {
  background: #efefef; 
  float: left; 
  margin-bottom: 20px; 
  overflow: hidden; 
  position: relative;
}
.product1 {
  width: 57%; 
  height: 510px; 
  margin-right: 8%; 
  margin-top: 55px;
}
.product2 {
  width: 35%; 
  height: 701px;
}
.product3 {
  width: 37%; 
  height: 703px;
}
.product4 {width: 56.5%; height: 513px; margin-left: 6.5%; margin-top: 70px;}
.product5 {width: 57%; height: 505px;margin-right: 7.5%; margin-top: 90px;}
.product6 {width: 35.5%; height:702px;}
  
/***sec7***/
.sec7{height: 800px; position: relative;}
.sec7 .Title { padding: 160px 0 0 290px; }
.balloon {position: absolute;right: 290px; top: 2300px;}
.store {width: 100%; height: 47px; line-height: 47px; overflow: hidden; padding-top: 220px;}
.store li{padding: 0 80px 0 80px; float: left;}
/***sec8***/
.sec8{width: 100%; height: 570px; background: url(img/bg4.png)no-repeat; position: relative;}
.sec8Nav {font-size: 24px; font-weight: bold;line-height: 1.7; padding : 200px 0 0 1450px;}
.sec8Nav li {width: 280px; text-align: left; transform: rotate(-15deg);  position: relative;}
.sec8Nav1 .arrow {display: none; position: absolute;top: 1; right: 180px;}
.sec8Nav2 .arrow {display: none; position: absolute;top: 1; right: 70px;}
.sec8Nav3 .arrow {display: none; position: absolute;top: 1; right: 20px;}
.sec8Nav4 .arrow {display: none; position: absolute;top: 1; right: 150px;}
.sec8Nav5 .arrow {display: none; position: absolute;top: 1; right: 150px;}
.sec8Nav6 .arrow {display: none; position: absolute;top: 1; right: 90px;}
.sec8Nav a { width: 280px; }
.sec8Nav span {font-weight: bold;opacity: 0;}
.sec8Nav1 span{color: #e94340;}
.arrow {color:#221815;}
.sec8 footer{position: absolute;bottom: 28px; left: 32px;}

.sec8Nav1:hover .arrow{display:inline; animation: ani_Nav1 .5s; animation-fill-mode:forwards;}
  @keyframes ani_Nav1 {
    from {opacity: 0; position: absolute; top : 1px; right: 200px; }
    to{ opacity: 1; position: absolute;top: 1px; right: 180px;}
  }
.sec8Nav2:hover .arrow{display:inline;animation: ani_Nav2 1s; animation-fill-mode:forwards;}
  @keyframes ani_Nav2 {
    from {opacity: 0; position: absolute; top : 1px; right: 170px}
    to{ opacity: 1; position: absolute;top: 1px; right: 150px;}
  }
.sec8Nav3:hover .arrow{display:inline;animation: ani_Nav3 .5s; animation-fill-mode:forwards;}
  @keyframes ani_Nav3 {
    from {opacity: 0; position: absolute; top : 1px; right: 40px; }
    to{ opacity: 1; position: absolute;top: 1px; right: 20px;}
  }
.sec8Nav4:hover .arrow{display:inline;animation: ani_Nav4 .5s; animation-fill-mode:forwards;}
  @keyframes ani_Nav4 {
    from {opacity: 0; position: absolute; top : 1px; right: 170px; }
    to{ opacity: 1; position: absolute;top: 1px; right: 150px;}
  }
.sec8Nav5:hover .arrow{display:inline;animation: ani_Nav5 .5s; animation-fill-mode:forwards;}
  @keyframes ani_Nav5 {
    from {opacity: 0; position: absolute; top : 1px; right: 170px; }
    to{ opacity: 1; position: absolute;top: 1px; right: 150px;}
  }
.sec8Nav6:hover .arrow{display:inline;animation: ani_Nav6 .5s; animation-fill-mode:forwards;}
  @keyframes ani_Nav6 {
    from {
      opacity: 0; 
      position: absolute; 
      top : 1px; 
      right: 110px; 
    }
    to{ 
      opacity: 1; 
      position: absolute;
      top: 1px; 
      right: 90px;
    }
  }
@media only screen and (max-width: 1700px) {/* 낮은 해상도 조절 */
  .sec8Nav {
    font-size: 24px; 
    font-weight: bold;
    line-height: 1.7; 
    padding : 200px 0 0 1250px;
  }
}
@media only screen and (max-width: 1700px) {/* 낮은 해상도 조절 */
  .sec8Nav {
    font-size: 24px; 
    font-weight: bold;
    line-height: 1.7; 
    padding : 200px 0 0 1050px;
  }
}