@charset "utf-8";

/* common */
h1{font-family: 'Assistant';font-weight: bold; font-size: 39px; text-transform: uppercase;}

/* slideshow_animation */
.fade {-webkit-animation-name: fade; -webkit-animation-duration: 1.5s; animation-name: fade; animation-duration: 1.5s;}
@-webkit-keyframes fade {from {opacity: .4} to {opacity: 1}}
@keyframes fade {from {opacity: .4} to {opacity: 1}}

/* header */
header{width: 100%;}
header > div.top{width: 100%; height: 40px; background: #ebebeb;}
header > div.top > div.wrap > p.txt{line-height: 40px; font-family: 'Assistant'; font-weight: 400; width: 350px; float: left;}
header > div.top > div.wrap > ul.mypage_list{float:right; line-height: 40px;}
header > div.top > div.wrap > ul.mypage_list > li{display: inline-block;padding: 0 10px;}
header > div.logo > a{display: inline-block; width: 350px; margin: 50px 0; }
header > ul.category {display: flex;padding-bottom: 10px;;}
header > ul.category > li {display: flex; width: 100%;;}

/* intro */
.intro > section {width: 100%; min-width:1200px }
.intro > section.banner > div.slideshow-container {position: relative;}
.intro > section.banner > div.slideshow-container > div.Slides {display: none;}
.intro > section.banner > div.slideshow-container > div.Slides img {vertical-align: middle; width: 100%; }
.intro > section.banner > div.slideshow-container > div.page {position: absolute;top: 0;background: rgba(255,255,255,0.5);padding: 2px 10px;border-radius: 20px;margin: 10px;border: 1px solid #d5d5d5;}
.intro > section.banner > div.slideshow-container > div.dotBox{position: absolute; bottom: 25px; left: 0; right: 0; width:70px; margin: 0 auto;text-align: center;}
.intro > section.banner > div.slideshow-container > div.dotBox > .dot{ height: 15px; width: 15px; margin: 0 2px; background-color: rgba(255,255,255,.7); border-radius: 50%; display: inline-block; transition: background-color 0.6s ease; }
.intro > section.banner > div.slideshow-container > div.dotBox > .dot.active{background-color: rgba(255,255,255,1);}

.intro > section.card_banner {overflow: hidden; margin: 30px auto ;}
.intro > section.card_banner > div {float: left; width: calc(50% - 10px);}
.intro > section.card_banner > div.big_box {background-image : url(../../images/kukka/graybg.png); background-size: cover; height: calc(600px - 10px);margin: 5px;}
.intro > section.card_banner > div.big_box > h1 {margin: 10px 0;}
.intro > section.card_banner > div.sm_box > a {background-size: cover;background-position: center;display:block; font-size: 0; height: calc(300px - 10px); float: left; vertical-align: top; margin: 5px;}
.intro > section.card_banner > div.sm_box > a.sm_img {width: calc(50% - 10px); }
.intro > section.card_banner > div.sm_box > a.lg_img {width: calc(100% - 10px);}
.intro > section.card_banner > div.sm_box > a.kongo {background-image:url(../../images/kukka/kongo.png); }
.intro > section.card_banner > div.sm_box > a.avis {background-image:url(../../images/kukka/avis.png); }
.intro > section.card_banner > div.sm_box > a.yulma {background-image:url(../../images/kukka/GoldcrestWilma.png); }

.intro > section.new_product {width: 100%; background: #f5f5f5; padding: 50px 0 70px;}
.intro > section.new_product > div.group_slide_container {overflow: hidden;}
.intro > section.new_product > div.group_slide_container > ul.group_slide {font-size: 0; white-space: nowrap;}
.intro > section.new_product > div.group_slide_container > ul.group_slide > li {margin: 5px 20px; width: 260px; display:inline-block; background-color: #fff; padding: 30px 0;}
.intro > section.new_product > div.group_slide_container > ul.group_slide > li > p {font-size:14px;font-weight: bold;}
.intro > section.new_product > div.group_slide_container > ul.group_slide > li > p.txt {font-size: 12px; color: #999;}
.intro > section.new_product > div.group_slide_container > a.prev, 
.intro > section.new_product > div.group_slide_container > a.next { cursor: pointer; position: absolute; top: 50%; width: auto; margin-top: -22px; padding: 16px;color: black; font-weight: bold;  font-size: 18px; transition: 0.3s ease; border-radius: 3px;}
.intro > section.new_product > div.group_slide_container > a.prev {left: 0;}
.intro > section.new_product > div.group_slide_container > a.next {right: 0; }
.intro > section.new_product > div.group_slide_container > a.prev:hover, 
.intro > section.new_product > div.group_slide_container > a.next:hover {background-color: rgba(0,0,0,0.8); color: #fff;}
.intro > section.introduction {background: url(../../images/kukka/wood.png); background-position: right; overflow: hidden;text-align: center; position: relative;}
.intro > section.introduction > video {float: left;}
.intro > section.introduction > div.about {position: absolute;margin-left: 50%;top: 50%;margin-top: -120px;}
.intro > section.introduction > div.about > h1{margin-bottom: 30px;}
.intro > section.introduction > div.about > p > span{display: inline-block; margin-bottom: 15px; line-height: 1.8; }
.intro > section.introduction > div.about > div.btn_more {background-color: #c2b197; color: #fff; border-radius: 20px; border-bottom: 2px solid #2b2b2b; display: inline-block; padding: 3px 10px; text-transform: uppercase;}

@media only screen and (max-width: 300px) {
}



/***섹션5***/
.sec5{width: 62.5%; height: 920px;margin: 0 auto; position: relative; overflow: hidden;}
.sec5 h1{padding: 100px 0 20px;}
.sec5 p:nth-child(2){font-size: 17px; padding-bottom: 80px;}
.sec5 div {position: absolute;bottom: 170px; right: 0;}
.sec5 div p{font-weight: bold; text-align : right;}
.sec5 div p:nth-child(1){font-size: 25px; padding-bottom: 25px; }
.sec5 div p:nth-child(2){font-size: 16px; }

/* 섹션6 */
.sec6{width: 100%; height: 690px; background: #f5f5f5;}
.sec6 .wrap {width: 62.5%; margin: 0 auto;}
.sec6 h1 {padding: 100px 0 60px 0;}
.layout > div{float: left; position: relative; margin: 7px; width: 31.333%}
.layout div img {width: 100%;}
.layout div img:hover {opacity: .7;}
.layout div p{width: 100%;}
.layout div div{width: 120px; height: 36px; background: #c2b197; color: #fff; line-height: 36px; font-size: 14px; text-transform: uppercase; position: absolute; top: 205px;}
.layout div h6{font-size: 18px; font-weight: bold; text-align: left; padding: 28px 0 22px;}
.layout div p{font-size: 14px; text-align: left; letter-spacing: -1px; padding-bottom: 20px; }
.layout div p:nth-child(5){font-size: 18px; text-align: left; color: #c2b197;}
@media only screen and (max-width: 1800px) {
    .layout div div{ position: absolute; top: 190px;}
}
@media only screen and (max-width: 1700px) {
    .layout div div{ display: none;}
}

/* 섹션7 */
.sec7{width: 62.5%; height: 500px; margin: 0 auto;}
.sec7 h1{padding: 100px 0 40px; }
.sec7 p{font-size: 19px; line-height: 1.4;}
.sec7 p:nth-child(2){padding-bottom: 40px; }
.sec7 p:nth-child(3){padding-bottom: 60px; }
.sec7 div {width: 780px; margin: 0 auto;}
.sec7 div div {float: left; width: 350px; border: 1px solid #c2b197; margin: 5px; padding: 20px;}
.sec7 div a:hover div.box1{background: #c2b197; color: #fff;}

/* 푸터 */
footer{width: 62.5%; height: 80px; margin: 0 auto; border-top: 1px solid #c2b197;position: relative;}
footer p {float: left; line-height: 80px; color: #c2b197;}
footer p:nth-child(2) {position: absolute;right: 0;}
footer p a{color: #c2b197; padding: 0 10px;}
