@charset "utf-8";

body{font-family: 'NanumGothic'; margin: 0;}

/*	
	font-family: 
		'NanumGothic' (font-weight : normal, bold) 
		'NanumGothicExtraBold';
*/
/*
	하늘색 : #48c6d5
	노란색 : gold
*/

html { width: 100%; height: 100%; font-family:'NanumGothic';}
* { text-decoration: none; font-family:'NanumGothic'; padding: 0; margin: 0; text-align: center;}
h3 { font-size: 24px; text-transform: uppercase;}
body {min-width: 1600px;}

/***sec1***/
	.sec1 { height: 1650px; background: url(../../images/promotion/bg1.jpg) no-repeat;	}
	.wrap { width: 62.5%; height : 100%; /*width:1200px;*/margin: 0 auto; position: relative;}
	.subtitle { font-size: 25px; padding-top: 78px; } 
	.subtitle div { text-indent: -9999px; background: gold; width: 380px; height: 4px; margin: 10px auto; margin-bottom: 30px;} 
	.title { font-size: 120px; width: 889px; margin: 0 auto; position: relative;}
	.title h1{ position:relative; z-index: 9; margin-bottom: 150px; margin-top: 10px; }
	.title div{	background:gold; width: 36px; height: 36px; border-radius: 18px; position: absolute;bottom: 0px; right: -20px; z-index: 0; text-indent: -9999px; }
	.explain { width: 100%; height: 120px; border-top: 1px solid #fff; border-bottom: 1px solid #fff; margin-top: 35px;}
	.explain div{float: left; width: 25%;color: #fff; padding: 30px 0;}
	.explain h3{padding-bottom: 10px; }
	.move {width: 412px; height: 70px; margin: 75px auto; }
	.move div { width: 170px; height: 60px; margin: 0 10px; float: left; line-height: 60px; border: 3px solid #fff; position: relative; }
	.move div span{color: #fff; position: absolute;left: 0; right: 0; margin: 0 auto; z-index: 99; transition: .3s;}
	.move div div { width: 0%; height: 60px; margin: 0 10px; border: 3px solid #fff; position: absolute; top: -3px; left: -13px;  transition: .5s; background:#fff; text-indent: -9999px;}
	.move div:hover div{width: 100%;}
	.move div:hover span{color: #48c6d5; }

/***sec2***/
	.sec2{background:#48c6d5; width: 100%; height: 910px; overflow: hidden;}
	.sec2Wrap{width: 62.5%; margin: 0 auto; padding: 100px 100px ; }
	.txt {width: 80%; margin: 0 auto;}
	.txt * {text-align: left; color: #fff; line-height: 1.5; padding-bottom: 40px;}
	.sec2Wrap h1{text-transform: uppercase; font-size: 13px; font-weight: bold;padding-bottom: 15px;}
	.txt h2, .txt p{padding-left: 25px;}
	.txt h2{font-size: 24px; font-weight: normal;padding-bottom: 30px;}
	

/*첫번째 섹션*/
	.box1 img{width:100%; height: auto; display: block;}

/*두번째 섹션*/
	.box2{background-color: #0180b7;overflow: hidden; width: 100%; height: 160px;}
	.box2 div {width: 1252px;margin: 0 auto;}
	.box2 div li{float: left; color: #fff; font-size: 51px;font-weight: bold; padding: 42px 20px;}
	.box2 div li:nth-child(2){padding: 0px 20px;}
	.box2 div li label{height: 160px;line-height: 160px;}
	.box2 #link img{transition: .5s;transform: scale(1); }
	.box2 #link:hover img {transform: scale(1.1);}

/*세번째 섹션*/
	.box3 img{width:100%; height:auto; }

/*네번째 섹션*/
	.box4{position: relative;}
	.box4>img{width:100%; height:auto;display: block;}
	.box4 a {position: absolute; bottom:340px; left: 0; right: 0; margin: 0 auto; width: 290px;}
	.box4 a img{transform: scale(1); transition: .5s;}
	.box4 a:hover img{ transform: scale(1.1); }

@media screen and (min-width: 1400px) and (max-width: 1662px) {
	.box4 a {bottom:290px; }

}