@charset "utf-8";
/* Coded by NHSung */

/* 메인 스타일 CSS */

/* Google Web Fonts */
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
/*	
	font-family: 'Nanum Gothic', sans-serif;
	font-family: 'Roboto', sans-serif;
*/
html{width: 100%; height: 100%;}
*{text-decoration: none; font-family: 'Nanum Gothic', sans-serif; box-sizing: border-box; text-align: center; color: #2d2b2a;}
h1{font-family: 'Roboto', sans-serif;font-weight: bold; font-size: 39px; text-transform: uppercase; margin-top: 70px;}
.brwonBx{width: 120px; height: 55px; background: #e8d6bb; color: #fff; line-height: 55px;  font-weight: bold; text-transform: uppercase; border:none; outline: none;}
.brwonBx>a{color: #fff;}
.brwonBx:hover{background: #c2b197;}
.brown{color: #c2b197;}

/*** 헤더 ***/
	.login{width: 100%; height: 40px; background: #ebebeb; }
	.login .wrap{width: 62.5%; margin: 0 auto; position: relative;}
	.login p{line-height: 40px; font-family: 'Roboto', sans-serif; font-weight: 400; width: 350px; }
	.login ul{overflow: hidden; position: absolute;right: 0px; top: 0; bottom: 0; margin: auto 0; height: 17px;}
	.login li{float: left; padding: 0 15px; font-size: 14px;}

	.nav {width: 62.5%;  margin: 0 auto;}
	.nav>a>img {width: 489px; display: block;margin: 50px auto;}
	.nav ul{overflow: hidden; width: 1050px;margin: 0 auto;}
	.nav li{float: left; font-size:16px; font-weight: bold; padding: 20px 23px 20px 25px; text-align: center;}
	.nav a {color: #2d2b2a;}

	.nav a:hover{color:#c2b197; }

article {width: 100%; border-top: 3px solid #ededee;}
/***섹션1***/
	.sec1{width: 62.5%; margin: 0 auto; overflow: hidden; padding:100px 0 90px;}
	.sec1Box{float: left; text-align: left;}
	.firBx {width: 60%;}
	.sec1Box>p {padding-bottom:30px; text-align: left; font-size: 13px;}
		/* Position the image container (needed to position the left and right arrows) */
		.container {position: relative;}
		/* Hide the images by default */
		.mySlides {display: none; margin-bottom: 25px;}
		/* Add a pointer when hovering over the thumbnail images */
		.cursor {cursor: pointer;}
		/* five columns side by side */
		.column { float: left; width: 20%;}
		/* Add a transparency effect for thumnbail images */
		.demo {opacity: 0.6;}
		.active, .demo:hover {opacity: 1;}
	.secBx {width: 40%; padding-left: 50px;}
	.secBx>p:nth-child(1){text-align: right;}
	.secBx>p:nth-child(3){font-size: 20px; font-weight: bold; line-height: 1.2;}
	.secBx>p:nth-child(4){font-size: 16px; }
	.secBx>p:nth-child(5){font-size: 16px; }
	input{text-align: center; width: 90px;  height: 45px;}
	button.cart {width: 100%; height: 60px; outline: none; border:none;font-size: 16px; margin: 30px 0; font-weight:normal;}

	/* 아코디언 메뉴 */
		.accBx{border-bottom: 1px solid #e7d6bc;}
		.accordion {cursor: pointer; padding: 18px; width: 100%;text-align: left; border: none; outline: none; transition: 0.4s; border-top: 1px solid #e7d6bc; background: none; font-weight: bold; overflow: hidden; }
		.panel {padding: 0px 20px 20px; background-color: white; display: none; overflow: hidden; text-indent: -10px; line-height: 1.4; font-size: 13px;}
		.panel p{text-align: left;}

		.accordion:after {content: '+'; font-size: 16px;float: right; margin-left: 5px;}
		.active:after {content: "-";}

/***섹션2***/
	/***섹션2-1***/
	.sec2 {width: 62.5%; margin: 0 auto; }
	.sec2bx{width: 100%; height: 30px; background: #eeeeef; line-height: 30px; font-size: 13px; }
	.subSec1 img{width: 75%; }
	.subSec1 p {line-height: 1.5; padding: 70px; }
	p.hashTag {padding: 160px; font-weight: bold; text-transform: uppercase;}
	.subSec1 p span{font-weight: bold;}
/***섹션2-2***/
	.subSec2{margin-top: 200px;}
	.subsec2Wrap {width : 75%; margin: 0 auto; position: relative;}
	.plant {width: 95%; height: 370px; margin: 0 auto; }
	.plant li { background: #fff; width: 23.7676%; height: 370px; float: left; margin: 0.6161%;}
	.plant li img { padding: 30px 0 40px; }
	.plant li p {font-size: 18px; font-weight: bold; text-transform: uppercase; line-height: 1.8;}
	.plant li p:nth-child(3) {font-size: 13px; }
	.plant li p:nth-child(4) {color: #c2b197;}
	.Slides {display: none;}
	.prev, .next { cursor: pointer; position: absolute; top: 50%; width: auto; margin-top: -22px; padding: 16px; color: black; font-weight: bold;  font-size: 18px; transition: 0.3s ease; border-radius: 3px; }
	.prev {left: 0;}
	.next { right: 0; }
	.prev:hover, .next:hover {background-color: rgba(0,0,0,0.8); color: #fff;}
	.fade {-webkit-animation-name: fade; -webkit-animation-duration: 1.5s; animation-name: fade; animation-duration: 1.5s;}
	@-webkit-keyframes fade {
	  from {opacity: .4} 
	  to {opacity: 1}
	}
	@keyframes fade {
	  from {opacity: .4} 
	  to {opacity: 1}
	}
/***센션2-3***/
	.subSec3{width:75%; margin: 200px auto; overflow: hidden;}
	.subSec3 button.brwonBx{float: right; margin-bottom: 6px;}
	.title{overflow: hidden; height: 55px; border-top: 1px solid; line-height: 55px; clear: both; }
	.line:last-child{border-bottom: 1px solid;}
	.title>div{float: left; text-align: left;}
	.date{width: 20%; text-indent: 10px;}
	.subTitle{width: 70%;} 
	.score{width: 10%;} 
	div.review {text-align: left; line-height: 1.4; font-size: 13px; padding: 10px; display: none; overflow: hidden;}
	.review>p{text-align: left; padding-bottom: 10px;}


/***푸터***/
	footer{width: 62.5%; height: 80px; margin: 0 auto; border-top: 1px solid #c2b197;position: relative;}
	footer p {float: left; line-height: 80px; color: #c2b197;}
	footer p:nth-child(2) {position: absolute;right: 0;}
	footer p a{color: #c2b197; padding: 0 10px;}
