@charset "utf-8";

body{font-family: 'NanumGothic'; margin: 0;}

/*첫번째 섹션*/
	.box1 img{width:100%; height: auto; display: block;}

/*두번째 섹션*/
	.box2{background-color: #0180b7;overflow: hidden; width: 100%; height: 160px;}
	.box2 div {width: 1252px;margin: 0 auto;}
	.box2 div li{float: left; color: #fff; font-size: 51px;font-weight: bold; padding: 42px 20px;}
	.box2 div li:nth-child(2){padding: 0px 20px;}
	.box2 div li label{height: 160px;line-height: 160px;}
	.box2 #link img{transition: .5s;transform: scale(1); }
	.box2 #link:hover img {transform: scale(1.1);}

/*세번째 섹션*/
	.box3 img{width:100%; height:auto; }

/*네번째 섹션*/
	.box4{position: relative;}
	.box4>img{width:100%; height:auto;display: block;}
	.box4 a {position: absolute; bottom:340px; left: 0; right: 0; margin: 0 auto; width: 290px;}
	.box4 a img{transform: scale(1); transition: .5s;}
	.box4 a:hover img{ transform: scale(1.1); }

@media screen and (min-width: 1400px) and (max-width: 1662px) {
	.box4 a {bottom:290px; }

}