@charset "utf-8";
/* Coded by NHSung */

/* 메인 스타일 CSS */


/*	
	font-family: 'NanumGothic';
	font-family:'Assistant';
*/
html{width: 100%; height: 100%;}
*{text-decoration: none; font-family:'NanumGothic'; box-sizing: border-box; text-align: center; color: #2d2b2a;}
h1{font-family: 'Assistant';font-weight: bold; font-size: 39px; text-transform: uppercase; margin-top: 70px;}
.brwonBx{width: 120px; height: 55px; background: #e8d6bb; color: #fff; line-height: 55px;  font-weight: bold; text-transform: uppercase; border:none; outline: none;}
.brwonBx>a{color: #fff;}
.brwonBx:hover{background: #c2b197;}
.brown{color: #c2b197;font-family: 'Assistant';font-weight: bold;}

/***알림***/
	#noty {background: #c2b197; width: 450px; height: 40px; border-radius: 5px; float: left; position: absolute;right: 0; top: 100px; line-height: 40px; }
	#noty p {color: #fff;}
	#noty p span {padding-left: 30px; color: #fff; font-size: 20px; font-weight: bold; cursor: pointer;}
/*** 헤더 ***/
	.login{width: 100%; height: 40px; background: #ebebeb; }
	.login .wrap{width: 62.5%; margin: 0 auto; position: relative;}
	.login p{line-height: 40px; font-family:'Assistant'; font-weight: 400; width: 350px; }
	.login ul{overflow: hidden; position: absolute;right: 0px; top: 0; bottom: 0; margin: auto 0; height: 17px;}
	.login li{float: left; padding: 0 15px; font-size: 14px;}

	.nav {width: 62.5%;  margin: 0 auto;}
	.nav>a>img {width: 489px; display: block;margin: 50px auto;}
	.nav ul{overflow: hidden; width: 1050px;margin: 0 auto;}
	.nav li{float: left; font-size:16px; font-weight: bold; padding: 20px 23px 20px 25px; text-align: center;}
	.nav a {color: #2d2b2a;}

	.nav a:hover{color:#c2b197; }

article {width: 100%; border-top: 3px solid #ededee;}
/***섹션1***/
	.sec1{width: 62.5%; margin: 0 auto; overflow: hidden; padding:30px 0 90px; overflow: hidden;}

	.figWrap{clear: both;}
	figure{width: 31.3333%; float: left; margin: 0 1% 100px 1% ;}
	img{width: 100%;}
	img:hover{opacity: .7;}
	figcaption {margin-top: 30px; line-height: 2; letter-spacing: -1px;}
	.subtitle { font-weight: bold; }
	/***filter***/
	.filterDiv{display: none;}
	.show{display: block;} 


/***푸터***/
	footer{width: 62.5%; height: 80px; margin: 0 auto; border-top: 1px solid #c2b197;position: relative;}
	footer p {float: left; line-height: 80px; color: #c2b197;}
	footer p:nth-child(2) {position: absolute;right: 0;}
	footer p a{color: #c2b197; padding: 0 10px;}
