@charset "utf-8";

/*넷북 1025px~1440px*/
@media screen and (min-width: 1025px) and (max-width: 1440px) {
	/***섹션1***/
	section.sec1>article>p:nth-child(3){font-size: 20px; font-weight: 200; position: absolute;top: 680px; left: 50%; transform: translateX(-50%); text-align: center; } 

	section.sec1>article>p:nth-child(4){font-size: 20px; font-weight: 200; position: absolute;top: 715px; left: 50%; transform: translateX(-50%); text-align: center; } 
	/**섹션2***/
	section.sec2{width: 100%; }
	section.sec2>a:hover p{font-size: 25px;}
	/***섹션4***/
	section.sec4{width: 100%; height: 1050px; position: relative;}
	section.sec4>p:nth-child(3) {width: 40%;}

	/***섹션5***/
	section.sec5>div:nth-child(2){height: 400px;}
	
	section.sec5>div>input{width:20%;}
	section.sec5>div>ul{font-size: 15px; font-weight: lighter; letter-spacing: 3px;}
		section.sec5>div>ul>li>a:hover{font-size: 1.1em;}
	/***푸터***/
	footer>p{width: 80%;}
}

/***태블릿 600px~1024px (섹션 4번 나눠서 진행)***/
@media screen and (min-width: 901px) and (max-width: 1204px){
	/***헤더***/
	header>a.logo>img{width: 70px; height: 17px; position: absolute; top: 27px; left: 5%;}
	header>ul{display: none;}
	header>a.bag>img{display: none; }
	header>a.bag>p>i{display: block;}
	header:hover {background-color: rgba(255,255,255,0); z-index: 9999;}
	header:hover a.logo>img:first-child {display:block;}
	header:hover a.logo>img:nth-child(2) {display: none;}
	header:hover a.bag>img:nth-child(2){display: none;}

	/**섹션2***/
	section.sec2{width: 100%;}
	section.sec2>h2{font-size: 25px; }
	section.sec2>article{width: 80%; overflow: hidden; clear: both;}
	section.sec2>article>a{float: left; margin: 1% 1% 50px 1%; width: 48%; }
	section.sec2>article>a>div{color: #000; background: #fff;}
	section.sec2>article>a:hover img:nth-child(1){display: block;}
	section.sec2>article>a:hover img:nth-child(2){display: none;}
	section.sec2>article>a:hover div{color: #000; background: #fff;}
	section.sec2>article>a:nth-child(3n){display: none;}
	section.sec2>a>p{font-size: 18px; overflow: hidden; clear: both;}
	section.sec2>a:hover p{text-decoration: none; font-size: 18px;}


	/**섹션3***/
	section.sec3>p {font-size: 15px;} 

	/**섹션4***/
	section.sec4{height: 1250px;}
	section.sec4>div.marquee {font-size: 20px;}
	section.sec4>img{width: 100%; position: absolute; top: 300px;}
	section.sec4>p:nth-child(3) {width: 80%; font-size: 20px; position: absolute;top: 78%; left: 50%; transform: translateX(-50%); padding: 10px; color: #000; background-color: rgba(255,255,255, 0); }
	section.sec4>a>p{width: 80%; text-align:center; font-size: 18px;position: absolute;top: 82%; left: 50%; transform:translate(-50%); text-decoration: underline;}
	section.sec4>a>p:hover{ background-color: #fff; color: #000; }
	section.sec4>p:nth-child(5) {position: absolute;top: 85%; left: 50%; transform: translate(-50%); text-align: center;}
	/**섹션5***/
	section.sec5>div:nth-child(2){ height: 300px; }
	section.sec5>div>input{width:30%;}
	section.sec5>div>ul>li>a:hover{font-size: 1em;}
	/***푸터***/


	
}

	/*태블릿 600px~900px*/
@media screen and (min-width: 600px) and (max-width: 900px){
	/***헤더***/
	header>a.logo>img{width: 70px; height: 17px; position: absolute; top: 27px; left: 5%;}
	header>ul{display: none;}
	header>a.bag>img{display: none; }
	header>a.bag>p>i{display: block;}
	header:hover {background-color: rgba(255,255,255,0); z-index: 9999;}
	header:hover a.logo>img:first-child {display:block;}
	header:hover a.logo>img:nth-child(2) {display: none;}
	header:hover a.bag>img:nth-child(2){display: none;}

	/**섹션2***/
	section.sec2{width: 100%;}
	section.sec2>h2{font-size: 25px; }
	section.sec2>article{width: 80%; overflow: hidden; clear: both;}
	section.sec2>article>a{float: left; margin: 1% 1% 50px 1%; width: 48%; }
	section.sec2>article>a>div{color: #000; background: #fff;}
	section.sec2>article>a:hover img:nth-child(1){display: block;}
	section.sec2>article>a:hover img:nth-child(2){display: none;}
	section.sec2>article>a:hover div{color: #000; background: #fff;}
	section.sec2>article>a:nth-child(3n){display: none;}
	section.sec2>a>p{font-size: 18px; overflow: hidden; clear: both;}
	section.sec2>a:hover p{text-decoration: none; font-size: 18px;}


	/**섹션3***/
	section.sec3>p {font-size: 15px;} 

	/**섹션4***/
	section.sec4{height: 1100px;}
	section.sec4>div.marquee {font-size: 20px;}
	section.sec4>img{width: 100%; position: absolute; top: 300px;}
	section.sec4>p:nth-child(3) {width: 80%; font-size: 18px; position: absolute;top: 73%; left: 50%; transform: translateX(-50%); padding: 10px; color: #000; background-color: rgba(255,255,255, 0); line-height: 1.1;}
	section.sec4>a>p{width: 80%; text-align:center; font-size: 15px;position: absolute;top: 79%; left: 50%; transform:translate(-50%); text-decoration: underline;}
	section.sec4>a>p:hover{ background-color: #fff; color: #000; }
	section.sec4>p:nth-child(5) {position: absolute;top: 82%; left: 50%; transform: translate(-50%); text-align: center; font-size: 20px;}
	/**섹션5***/
	section.sec5>div:nth-child(1){height: 330px;}
	section.sec5>div>video{width: 100%;}
	section.sec5>div:nth-child(2){ height: 300px; }
	section.sec5>div>p:nth-child(1){font-size: 20px; margin: 200px 0 30px 0;}
	section.sec5>div>input{width:50%;}
	section.sec5>div>ul{width: 472.02px; letter-spacing: 3px; }
	section.sec5>div>ul>li>a:hover{font-size: 1em;}
	
}

/*모바일 ~599px*/
@media screen and (max-width: 599px){
	/***헤더***/
	header>a.logo>img{width: 70px; height: 17px; position: absolute; top: 27px; left: 5%;}
	header>ul{display: none;}
	header>a.bag>img{display: none; }
	header>a.bag>p>i{display: block; font-size: 20px;}
	header:hover {background-color: rgba(255,255,255,0); z-index: 9999;}
	header:hover a.logo>img:first-child {display:block;}
	header:hover a.logo>img:nth-child(2) {display: none;}
	/***섹션1***/
	section.sec1>ul.main1>li>img{display: none;}
	section.sec1>ul.main2>li>img{display: block;}
	section.sec1>div.atc{position: absolute; bottom: 22%;left:50%; transform: translate(-50%);}
	section.sec1>div.atc>img{display: none;}
	section.sec1>div.atc>a>p{font-size: 10px;}
	/**섹션2***/
	section.sec2{width: 100%;}
	section.sec2>h2{font-size: 18px; padding: 100px 0 50px 0;}
	section.sec2>article{width: 80%; overflow: hidden; clear: both;}
	section.sec2>article>a{float: left; margin: 1% 0 50px 0; width: 100%; }
	section.sec2>article>a>div{color: #000; background: #fff;}
	section.sec2>article>a:hover img:nth-child(1){display: block;}
	section.sec2>article>a:hover img:nth-child(2){display: none;}
	section.sec2>article>a:hover div{color: #000; background: #fff;}
	section.sec2>article>a:nth-child(3n){display: none;}
	section.sec2>a>p{font-size: 18px; overflow: hidden; clear: both;}
	section.sec2>a:hover p{text-decoration: none; font-size: 18px;}


	/**섹션3***/
	section.sec3>p {font-size: 15px;} 

	/**섹션4***/
	section.sec4{height: 1000px;}
	section.sec4>div.marquee {font-size: 15px;}
	section.sec4>img{width: 100%; position: absolute; top: 200px;}
	section.sec4>p:nth-child(3) {width: 80%; font-size: 18px; position: absolute;top: 55%; left: 50%; transform: translateX(-50%); padding: 10px; color: #000; background-color: rgba(255,255,255, 0); line-height: 1.1;}
	section.sec4>a>p{width: 80%; text-align:center; font-size: 15px;position: absolute;top: 62%; left: 50%; transform:translate(-50%); text-decoration: underline;}
	section.sec4>a>p:hover{ background-color: #fff; color: #000; }
	section.sec4>p:nth-child(5) {position: absolute;top: 66%; left: 50%; transform: translate(-50%); text-align: center; font-size: 20px;}
	/**섹션5***/
	section.sec5>div:nth-child(1){height: 240px;}
	section.sec5>div>video{width: 100%;}
	section.sec5>div:nth-child(2){ height: 300px; }
	section.sec5>div>p:nth-child(1){font-size: 20px;  margin: 200px 0 30px 0; }
	section.sec5>div>input{ width:50%; font-size: 12px;}
	section.sec5>div>ul{width: 70%; letter-spacing: 2px; font-size: 10px; }
	section.sec5>div>ul>li>a:hover{font-size: 1em;}
	/***푸터***/
	footer>p{display: none;}
}

